html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box
}

html {
  width: 200%;
  overflow-x: hidden;
  min-height: 100%;
  display: flex;
  justify-content: center;
  /*background: darkgreen;*/
  background: linear-gradient(120deg, #597ADD, #4C2BBD);
}

body {
  flex: 1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  perspective: 2000px;
  transform-style: preserve-3d;
}


/* 全部页面之外的布局 */

body>div {
  transition: all .4s;
  transform-style: preserve-3d;
  flex: 1;
  margin: 3em;
  max-width: 1024px;
  min-height: 400px;
  border-radius: .8rem;
  /*padding: .8rem;*/
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, .5), 0 10px 20px -5px rgba(0, 0, 0, .5);
  min-width: 540px;
  display: flex;
}


/* 继承 trasnform-style:preserve-3d */

body>div * {
  transform: translateZ(0px);
  transform-style: inherit;
}

.detail {
  background: hsla(0, 0%, 100%, .2);
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding-top: 5rem;
  transform: translate3d(0%, 0, 0px);
}

.dashboard {
  transform-origin: 10rem 50% 0;
  transform: translate3d(0%, 0, 0px) rotateY(0deg);
}

body.focus .detail {
  transform: translate3d(-90%, 0, -100px);
}

body.focus .dashboard {
  transform: translate3d(-20%, 0, -200px) rotateY(80deg);
  box-shadow: 0 0 4px -10px rgba(0, 0, 0, .5), 0 10px 20px -50px rgba(0, 0, 0, .5);
}


/* layout 布局 */

.dashboard>nav {
  flex: 0 0 10rem;
  background: #272B34;
  color: #EFF3F6;
  border-radius: .8rem 0 0 .8rem;
  border-bottom: thin lightcyan solid;
  transition: all .4s;
}

body.focus .dashboard>nav {
  transform: rotateY(-70deg);
  transform-origin: right;
}

.dashboard>main {
  flex: 1;
  border-radius: 0 .8rem .8rem 0;
  border-bottom: thin #272B34 solid;
  background: #EFF3F6;
}


/* ----- a 标签 加上标记 ------ */

a {
  position: relative
}

a::after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: 0px;
  height: 0px;
  border: 5px solid #6AE;
  border-left: none;
  border-bottom: none;
  border-right-color: transparent;
}

a:hover,
a:visited,
a:link {
  text-decoration: none;
}

a:link,
a:visited {
  color: #29A198
}

a:hover {
  color: red
}


/* 侧边导航 */

nav {
  display: flex;
  flex: 1
}

nav>ul {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

nav>ul>li {
  flex: 0 0 30px;
  padding: .5rem .5rem;
}

nav>ul>li span.tip {
  font-size: .8em;
  line-height: 1.1em;
  white-space: pre-wrap;
  color: #ddd;
}


/* 列表 */

main>ul {
  display: flex;
  flex-flow: column;
  border: thin solid #ECE5D3;
  border-radius: 6px;
  margin: 2rem;
  z-index: 0;
  background: #FDF6E3;
  color: #777;
}

main>ul>li {
  width: 100%;
  display: flex;
  padding: .4rem 0;
  /*border-bottom: thin solid #F5EEDC;*/
  position: relative;
}

main>ul>li:nth-child(odd)>span {
  background: #F5EEDC;
}

main>ul>li:first-child {
  border-radius: 6px 6px 0 0;
  background: #ECE5D3;
  font-weight: 700;
  font-variant: small-caps;
}

main>ul>li:first-child span {
  background: #ECE5D3;
}

main>ul>li:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: none
}


/* 上一版 标题*/

main>ul>li>span {
  flex: 1;
  display: flex;
  line-height: 1.4rem;
  padding: 0 .4rem;
  cursor: pointer;
}

main>ul>li>span.action {
  flex: 0 0 4em;
  cursor: pointer;
}

main>ul>li>span.title {
  flex: 2;
  color: #333;
  transform-origin: left;
  transition: all .4s;
}

body.focus main>ul>li>span.title {
  transform: rotateY(-70deg);
}

main>ul>li>span.url {
  text-transform: capitalize;
}

main>ul>li>span a {
  flex: 1;
}

main>ul>li>span.description {
  position: absolute;
  white-space: pre-wrap;
  word-break: break-all;
  background: white;
  padding: .5rem;
  border-radius: .5rem;
  display: none;
  z-index: 99;
  right: 0;
  bottom: 0;
  width: 50%;
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, .4)
}

main>ul>li:hover>span.title {
  color: #000;
}

main>ul>li:hover>span.description {
  display: block;
}


/* 3D 效果标题 */

main>ul>li div {
  flex: 1;
  display: flex;
  line-height: 1.4rem;
  padding: 0 .4rem;
  cursor: pointer;
  transform-origin: left;
  transition: all .4s;
}

main>ul>li div>span {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: .6rem;
  background: #F5EEDC;
}

main>ul>li:nth-child(odd) div>span {
  background: rgba(0, 0, 0, .05)
}

main>ul>li:nth-child(1) div>span {
  background: rgba(255, 100, 0, 0.05)
}

main>ul>li div>div {
  flex: 5
}

main>ul>li div>div>span {
  flex: 2
}

main>ul>li div>div>div>span {
  flex: 1
}

main>ul>li div>div>div {
  flex: 3
}

main>ul>li div>div>div>div {
  flex: 2
}

main>ul>li div>div>div>div>div {
  flex: 1
}

body.focus main>ul>li div.title {
  transform: rotateY(-80deg)
}

body.focus main>ul>li div.title>div {
  transform: rotateY(100deg)
}


/* ------   .detail   ------- */


/* 顶部按钮 */

.detail>header {
  height: 5rem;
  padding-top: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.detail>header button {
  border: thin solid #F5EEDC;
  border-radius: .3rem;
  background: #FDF6E3;
  color: #777;
  padding: .5rem .7rem;
  cursor: pointer
}


/* Article Card */

.card {
  flex: 0 0 23rem;
  display: flex;
  flex-flow: column;
  min-width: 240px;
  min-height: 240px;
  border-radius: .5rem;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .4);
  background: #F5EEDC;
  color: #777;
  margin: 2rem;
}

.card>.img {
  background: lightgoldenrodyellow;
  min-height: 120px;
}

.card>.img:first-child {
  border-radius: .5rem .5rem 0 0;
}

.card>[class^='meta'] {
  font-variant: small-caps;
  padding: .7rem;
  text-align: center;
  font-size: .8rem;
}

.card>.title {
  text-transform: uppercase;
  padding: 0rem .5rem;
  text-align: center;
  color: #333
}

.card>.description {
  white-space: pre-wrap;
  padding: 1rem 1rem 2rem;
  color: #333;
  background: #FDF6E3;
}

.card>.description:last-child {
  border-radius: 0 0 .5rem .5rem;
}

.act {
  flex: 1
}